
{% load static %}

<!--   Sortable Tables  -->
<!-- <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script> -->



<!-- Core -->
<script src="{% static 'assets/js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- Calendar -->
<script src="{% static 'assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<!-- Plotly.js CDN -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--  Chart   -->
<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.extensions.js' %}"></script>

<!--   Argon JS   -->
<script src="{% static 'assets/js/argon.js' %}"></script>

