
{% load static %}

<!-- Core -->
<script src="{% static 'assets/js/plugins/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plotly.js CDN -->
<script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!--   Argon JS   -->
<script src="{% static 'assets/js/argon.js' %}"></script>

<!-- Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>

<!-- Vuetify JS-->
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

