Django==3.*
django-extensions
gunicorn
requests
beautifulsoup4==4.*
oauth2client==4.*
altair==4.*
pandas
psycopg2==2.*
plotly==4.*
django-mssql-backend==2.*
celery==4.*
redis==3.*
django_redis==4.*
remote-pdb==2.0.0
tenacity==6.*