<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <title>Relatório das enquetes</title>
    <meta charset="UTF-8">
</head>
<body>
    <main style="max-width: 960px; margin: 100px auto 500px;">
        <h1>Relatório de participação nas enquetes</h1>
        <p>Periodo considerado: {{ dat_inicial }} a {{ dat_final }}</p>
        <article class="card">
            <header>
                <h3>Ranking de propostas com maior participação no periodo</h3>
            </header>
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Proposta</th>
                        <th>Autor</th>
                        <th>Relator</th>
                        <th>Votos na enquete</th>
                        <th>Tema</th>
                    </tr>
                </thead>

                {% for proposicao in proposicoes %}
                    <tr>
                        <td>
                            <a href="{% url 'detail' proposicao.id %}">{{ proposicao.nome}}</a>
                        </td>
                        <td>
                            {% for autor in proposicao.autor.all|slice:":3" %}
                                {{ autor.nome }} ({{ autor.partido}}/{{ autor.uf }})<br />
                            {% endfor %}
                            {% if proposicao.autor.all|length > 3 %}
                                (e mais {{ proposicao.autor.all|length|add:"-3" }})
                            {% endif %}
                        </td>
                        <td>
                            {% if proposicao.ultimo_status_relator %}
                                {{ proposicao.ultimo_status_relator.nome }} ({{ proposicao.ultimo_status_relator.partido}}/{{ proposicao.ultimo_status_relator.uf }})
                            {% endif %}
                        </td>
                        <td>
                            {{ proposicao.enquete_votos_count }}
                        </td>
                        <td>
                            {% for tema in proposicao.tema.all %}
                                {{ tema.nome }}<br />
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </article>
    </main>
</body>
</html>
