<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2>Temas dos votos nas enquetes <span class="text-sm">em <mark>{{ period_humanized }}</mark></span></h2>
                <p>No gráfico abaixo é possível observar, mês a mês, os principais interesses da sociedade com base nos votos nas enquetes, organizados por tema. </p>
            </div>
        </div>
    </div>

    <plotly>
        <div class="card-body">
            <div id="enquetes_temas_plot" v-pre></div>
        </div>
    </plotly>
</div>
