<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2>Linha do tempo <span class="text-sm">em <mark>{{ period_humanized }}</mark></span></h2>
                <p>Os gráficos a seguir correlacionam as proposições em debate na Câmara com base no número de <b>acessos às fichas de tramitação</b> e no de <b>votos e comentários das respectivas enquetes</b>.</p>
                <p>Ainda que as grandezas numéricas sejam diferentes, é notável a coincidência dos picos de cada gráfico.</p>
            </div>
        </div>
    </div>

    <plotly>
        <div class="card-body">
            <div id="ficha_enquete_summary_plot" v-pre></div>
        </div>
    </plotly>
</div>
