<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2>Linha do tempo das proposições e das enquetes <span class="text-sm">em <mark>{{ period_humanized }}</mark></span></h2>
                <p>Os seguintes gráficos correlacionam importantes interações com a Câmara: <b>acessos às páginas das proposições</b> e <b>votos e comentários nas enquetes das proposições</b>. </p>
                <p>Há uma correlação importante entre os dois instrumentos: picos de acessos às enquetes resultam em picos equivalentes nos acessos às páginas das proposições.</p>
            </div>
        </div>
    </div>

    <plotly>
        <div class="card-body">
            <div id="ficha_enquete_summary_plot" v-pre></div>
        </div>
    </plotly>
</div>
