{% load humanize %}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h4 class="card-title text-muted mb-0">Acessos à ficha de tramitação</h5>
                    <span class="h2 font-weight-bold mb-0">{{ stats.ficha_pageviews|intcomma }}</span>
                    {% if period_humanized %}
                        <span class="text-sm">em <mark>{{ period_humanized }}</mark></span>
                    {% endif %}

            </div>
            <div class="col-auto">
                <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                    <i class="fas fa-chart-line"></i>
                </div>
            </div>
        </div>
    </div>
</div>
