<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2>Matérias mais comentadas <span class="text-sm">em <mark>{{ period_humanized }}</mark></span></h2>
            </div>
        </div>
    </div>

    <div class="card-body">
         <template>
            <v-data-table :headers="top_news_headers" :items="top_news" :items-per-page="10">
                <template #item.title="{ item }">
                    <a :href="item.link">
                        [[ item.title ]]
                    </a>
                </template>
            </v-data-table>
        </template>
    </div>
</div>
