<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2>Demandas na Central de Atendimento <span class="text-sm">em <mark>{{ period_humanized }}</mark></span></h2>
                <p>A Câmara disponibiliza dois importantes canais de interação com a sociedade: o <b>Disque-Câmara</b> e o <b>Fale Conosco</b>. Ambas são consideradas no gráfico a seguir.</p>
                <p>São consideradas apenas as seguintes demandas:</p>
                <ul class="list-unstyled">
                    <li>Tratadas pela Central de Comunicação Interativa</li>
                    <li>Não sigilosas</li>
                    <li>Não consideradas fora do escopo</li>
                </ul>
            </div>
        </div>
    </div>
</div>
