<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2>Perfil dos demandantes <span class="text-sm">em <mark>{{ period_humanized }}</mark></span></h2>
                    <p>O seguinte gráfico é uma representação do perfil demográfico dos demandantes do <b>Disque-Câmara</b> e do <b>Fale Conosco</b>. A idade é ilustrada é com base na data da demanda. Caso um demandante tenha feito mais de um demanda, será representado apenas uma vez.</p>
                    <p>São consideradas apenas as idades entre 10 e 100 anos.</p>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div id="prisma_sexo_idade_plot" v-pre></div>
    </div>
</div>
