{% load humanize %}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2>Tipos das demandas <span class="text-sm">em <mark>{{ period_humanized }}</mark></span></h2>
                <p>A tabela a seguir ilustra os tipos das demandas no <b>Disque-Câmara</b> e ao <b>Fale Conosco</b>.</p>
            </div>
        </div>
    </div>

    <div class="card-body">
        <template>
            <v-simple-table>
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Número</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for channel in stats.prisma_tipos %}
                            <tr>
                                <th>{{ channel.demanda_tipo }}</th>
                                <td>
                                    {{ channel.iddemanda__count|intcomma }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </template>
            </v-data-table>
        </template>
    </div>
</div>
