<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h2>Enquetes mais votadas e proposições mais acessadas <span class="text-sm">em <mark>{{ period_humanized }}</mark></span></h2>
                <p>Proposições que mais se destacaram no período, com base nos <b>votos e comentários nas enquetes</b> e nos <b>acessos às proposições</b></p>
            </div>
        </div>
    </div>


    <div class="card-body">
        <template>
            <v-data-table :headers="top_proposicoes_headers" :items="top_proposicoes" :items-per-page="10">
                <template #item.proposicao_nome_processado="{ item }">
                    <a :href="item.link">
                        [[ item.proposicao_nome_processado ]]
                    </a>
                </template>
            </v-data-table>
        </template>
    </div>
</div>
