{% extends 'layouts/base.html' %}

{% block title %}Relatório consolidado da participação{% endblock title %}

{% block sidenav %}{% endblock sidenav %}

{% block content %}
<div class="header pt-4">
    <div class="container-fluid">
        <div class="col">
            <h1>Relatório consolidado da participação</h1><br />
        </div>
    </div>
</div>

<div id="app">
    <div class="container-fluid">
        {% if stats %}
        <!-- dados gerais-->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p>
                            Este relatório contém alguns dados sobre os seguintes aspectos da participação cidadã na câmara:
                        </p>
                        <h4>Comunicação Interativa</h4>
                        <ul>
                            <li>Fale Conosco;</li>
                            <li>Disque Câmara;</li>
                            <li>Comentários nas notícias do Portal da Câmara;</li>
                        </ul>
                        <h4>Relacionamento com o público infantojuvenil</h4>
                        <ul>
                            <li>Parlamento Jovem Brasileiro – PJB</li>
                            <li>Plenarinho</li>
                        </ul>
                        <h4>Canais de participação popular</h4>
                        <ul>
                            <li>Enquetes legislativas</li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1Pu1BSyQZcVPpuI7FibrNVL3Yb4zxkhpc8oNKU0vUebo&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>
                    Quantitativos gerais
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                {% include "pages/relatorio/cards/kpi_votos_enquetes.html" %}
            </div>

            <div class="col-xl-3 col-lg-6">
                {% include "pages/relatorio/cards/kpi_comentarios_enquetes.html" %}
            </div>

            <div class="col-xl-3 col-lg-6">
                {% include "pages/relatorio/cards/kpi_comentarios_portal.html" %}
            </div>

            <div class="col-xl-3 col-lg-6">
                {% include "pages/relatorio/cards/kpi_demandas_prisma.html" %}
            </div>

        </div>
        <!-- enquetes -->
        <div class="row">
            <div class="col">
                <h1>
                    Proposições e enquetes
                </h1>
                {% include "pages/relatorio/cards/ficha_enquete_summary_plot.html" %}
            </div>
        </div>
    
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                {% include "pages/relatorio/cards/aprovacao_comentarios_enquetes.html" %}
            </div>
            <div class="col-xl-6 col-lg-12">
                {% include "pages/relatorio/cards/top_proposicoes_enquetes.html" %}
            </div>
        </div>

        
        <!-- prisma -->
        <div class="row">
            <div class="col">
                <h1>
                    Central de Comunicação Interativa
                </h1>
                {% include "pages/relatorio/cards/prisma_summary_plot.html" %}
            </div>
        </div>

        <div class="row">

            <div class="col-xl-3 col-lg-6">
                {% include "pages/relatorio/cards/canais_prisma.html" %}
            </div>

            <div class="col-xl-3 col-lg-6">
                {% include "pages/relatorio/cards/tipos_prisma.html" %}
            </div>


            <div class="col-xl-6 col-lg-12">
                {% include "pages/relatorio/cards/sexo_idade_prisma.html" %}
            </div>

        </div>

        <!-- noticias -->
        <div class="row">
            <div class="col">
                <h1>
                    Notícias
                </h1>
                {% include "pages/relatorio/cards/noticia_summary_plot.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-6">
                {% include "pages/relatorio/cards/aprovacao_comentarios_noticias.html" %}
            </div>
            <div class="col-xl-6 col-lg-12">
                {% include "pages/relatorio/cards/materias_mais_comentadas.html" %}
            </div>
        </div>

        {% endif %}

    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    Vue.config.ignoredElements = [
        'plotly'
    ];
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            period_type: '{{ period_type|escapejs }}',
            {% if stats %}
                top_proposicoes: {{ stats.top_proposicoes | safe }},
                top_news: {{ stats.top_news | safe }},
                top_prisma_categorias: {{ stats.top_prisma_categorias | safe}},
                top_prisma_proposicoes: {{ stats.top_prisma_proposicoes | safe}},
            {% endif %}
            top_proposicoes_headers: [
                { text: 'Proposição', align: 'start', sortable: false, value: 'proposicao_nome_processado', },
                { text: 'Votos', value: 'poll_votes' },
                { text: 'Comentários', value: 'poll_comments' },
                { text: 'Visualizações (ficha de tramitação)', value: 'ficha_pageviews' },
            ],
            top_news_headers: [
                { text: 'Notícia', align: 'start', sortable: false, value: 'title', },
                { text: 'Comentários', value: 'comments' },
            ],
            top_prisma_categorias_headers: [
                { text: 'Macrotema', value: 'prismacategoria__macrotema', },
                { text: 'Tema', value: 'prismacategoria__tema', },
                { text: 'Subtema', value: 'prismacategoria__subtema', },
                { text: 'Demandas', value: 'count', },
            ],
            top_prisma_proposicoes_headers: [
                { text: 'Proposição', value: 'prismacategoria__categoria_tema_proposição', },
                { text: 'Demandas', value: 'iddemanda__count', },
            ]
        },
    });

    {% if stats %}
        Plotly.setPlotConfig({"displayModeBar": false, "responsive": true});

        var ficha_enquete_summary_plot = {{ stats.ficha_enquete_summary_plot | safe}};
        Plotly.plot('ficha_enquete_summary_plot', ficha_enquete_summary_plot, {});

        var prisma_summary_plot = {{ stats.prisma_summary_plot | safe}};
        Plotly.plot('prisma_summary_plot', prisma_summary_plot, {});

        var noticia_summary_plot = {{ stats.noticia_summary_plot | safe}};
        Plotly.plot('noticia_summary_plot', noticia_summary_plot, {});

        var prisma_sexo_idade_plot = {{ stats.prisma_sexo_idade_plot | safe}};
        Plotly.plot('prisma_sexo_idade_plot', prisma_sexo_idade_plot, {});

        {% endif %}

</script>
{% endblock javascripts %}