{% extends 'pages/relatorio/custom/base_report.html' %}

{% block report_extra %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p>
                        Esta página apresenta alguns eventos importantes e os dados da participação popular nos seguintes canais da Câmara dos Deputados em 2020:
                    </p>
                    <h4>Canais de participação popular</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.camara.leg.br/enquetes">Enquetes legislativas</a></li>
                    </ul>
                    <!-- <h4>Redes sociais</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://t.me/CamaradosDeputados">Telegram</a></li>
                        <li><a href="https://twitter.com/camaradeputados">Twitter</a></li>
                        <li><a href="https://www.youtube.com/camaradosdeputadosoficial">YouTube</a></li>
                        <li><a href="https://pt-br.facebook.com/camaradeputados/">Facebook</a></li>
                        <li><a href="https://www.instagram.com/camaradeputados/?hl=pt-br">Instagram</a></li>
                    </ul> -->
                    <h4>Comunicação Interativa</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://camara.custhelp.com/">Fale Conosco</a></li>
                        <li><a href="https://www2.camara.leg.br/transparencia/servicos-ao-cidadao/canais-de-atendimento-ao-cidadao/disque-camara">Disque Câmara: 0800 0 619 619</a></li>
                        <li><a href="https://www.camara.leg.br/noticias">Acessos e comentários às notícias do Portal da Câmara</a></li>
                    </ul>
                    <!-- <h4>Relacionamento com o público infantojuvenil</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://www.camara.leg.br/pjb/">Parlamento Jovem Brasileiro – PJB</a></li>
                        <li><a href="https://plenarinho.leg.br">Plenarinho</a></li>
                    </ul> -->
                    <p>Ao clicar em cada data nos gráficos, é possível ver os quantitativos em detalhe.</p>
                    <p>Este relatório está em fase de protótipo. Está em estudo a inclusão de outras formas de participação na Câmara. Para fazer sugestões e observações ou reportar erros, Fale Conosco.</p>

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h2>A Câmara <span class="text-sm">em <mark>{{ period_humanized }}</mark></span></h2>
                        </div>
                    </div>
                </div>
            
                <div class="card-body">
                    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1Pu1BSyQZcVPpuI7FibrNVL3Yb4zxkhpc8oNKU0vUebo&font=Default&lang=pt-br&initial_zoom=2&height=700' width='100%' height='700' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock report_extra %}

