{% extends 'layouts/base.html' %}

{% block title %}A participação popular na Câmara{% endblock title %}

{% block sidenav %}{% endblock sidenav %}

{% block content %}
<div class="header pt-4">
    <div class="container-xl">
        <div class="col">
            <h1>A participação popular na Câmara em {{ period_humanized }}</h1><br />
        </div>
    </div>
</div>

<div id="app">
    <div class="container-xl">
        {% if stats %}
        <!-- dados gerais-->
        {% block report_extra %}{% endblock report_extra %}
        <!-- enquetes -->
        <div class="row">
            <div class="col">
                <h1>
                    Proposições e enquetes
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {% include "pages/cards/kpi_ficha_pageviews.html" %}
            </div>

            <div class="col-6">
                {% include "pages/cards/kpi_votos_enquetes.html" %}
            </div>

            <div class="col-6">
                {% include "pages/cards/kpi_comentarios_enquetes.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include "pages/cards/ficha_enquete_summary_plot.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                {% include "pages/cards/proposicoes_temas_plot.html" %}
            </div>
            <div class="col-5">
                {% include "pages/cards/proposicoes_temas_table.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                {% include "pages/cards/enquetes_temas_plot.html" %}
            </div>
            <div class="col-5">
                {% include "pages/cards/enquetes_temas_table.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <!-- {% include "pages/cards/top_proposicoes_enquetes.html" %} -->
            </div>
        </div>

        <!-- prisma -->
        <div class="row">
            <div class="col">
                <h1>
                    Central de Comunicação Interativa
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {% include "pages/cards/kpi_demandas_prisma.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include "pages/cards/prisma_summary_plot.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include "pages/cards/prisma_proposicoes_table.html" %}
            </div>
            <div class="col">
                {% include "pages/cards/prisma_legislacao_table.html" %}
            </div>
            <div class="col">
                {% include "pages/cards/prisma_deputados_table.html" %}
            </div>
            <div class="col">
                {% include "pages/cards/prisma_atividade_legislativa_table.html" %}
            </div>
            <div class="col">
                {% include "pages/cards/prisma_temas_de_debate_nacional_table.html" %}
            </div>
        </div>

        <div class="row">

            <div class="col-6">
                {% include "pages/cards/sexo_prisma.html" %}
            </div>

        </div>

        <!-- noticias -->
        <div class="row">
            <div class="col">
                <h1>
                    Notícias
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {% include "pages/cards/kpi_noticia_pageviews.html" %}
            </div>
            <div class="col-6">
                {% include "pages/cards/kpi_comentarios_portal.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% include "pages/cards/noticia_summary_plot.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                {% include "pages/cards/noticias_temas_plot.html" %}
            </div>
            <div class="col-5">
                {% include "pages/cards/noticias_temas_table.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <!-- {% include "pages/cards/materias_mais_comentadas.html" %} -->
            </div>
        </div>

        {% endif %}

    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    Vue.config.ignoredElements = [
        'plotly'
    ];
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            period_type: '{{ period_type|escapejs }}',
            // top_proposicoes: {{ stats.top_proposicoes | safe }},
            // top_noticias: {{ stats.top_noticias | safe }},
            top_prisma_categorias: {{ stats.top_prisma_categorias | safe }},
            top_prisma_proposicoes: {{ stats.top_prisma_proposicoes | safe }},
            prisma_assuntos_proposicao: {{ stats.prisma_assuntos_proposicao | safe }},
            prisma_assuntos_deputado: {{ stats.prisma_assuntos_deputado | safe }},
            prisma_assuntos_temas_de_debate_nacional: {{ stats.prisma_assuntos_temas_de_debate_nacional | safe }},
            prisma_assuntos_legislacao: {{ stats.prisma_assuntos_legislacao | safe }},
            prisma_assuntos_atividade_legislativa: {{ stats.prisma_assuntos_atividade_legislativa | safe }},
            top_proposicoes_headers: [
                { text: 'Proposição', align: 'start', sortable: false, value: 'proposicao_nome_processado', },
                { text: 'Votos', value: 'poll_votes' },
                { text: 'Comentários aprovados', value: 'poll_comments_authorized' },
                { text: 'Acessos (ficha de tramitação)', value: 'ficha_pageviews' },
            ],
            top_noticias_headers: [
                { text: 'Notícia', align: 'start', sortable: false, value: 'title', },
                { text: 'Acessos', value: 'pageviews' },
                { text: 'Comentários aprovados', value: 'comments_authorized' },
            ],
            top_prisma_categorias_headers: [
                { text: 'Macrotema', value: 'prismacategoria__macrotema', },
                { text: 'Tema', value: 'prismacategoria__tema', },
                { text: 'Subtema', value: 'prismacategoria__subtema', },
                { text: 'Demandas', value: 'count', },
            ],
            top_prisma_proposicoes_headers: [
                { text: 'Proposição', value: 'prismacategoria__categoria_tema_proposição', },
                { text: 'Demandas', value: 'iddemanda__count', },
            ],
            prisma_assuntos_headers: [
                { text: 'Assunto', value: 'assunto', },
                { text: 'Número de demandas', value: 'count', },
            ],

            // Proposição temas table
            loading_proposicoes_temas_table: false,
            proposicoes_temas_table_contents: [],
            proposicoes_temas_table_api_params: '',
            proposicoes_temas_table_headers: [
                { text: 'Proposição', align: 'start', sortable: false, value: 'nome_processado', },
                { text: 'Acessos', value: 'ficha_pageviews' },
            ],
            proposicoes_temas_table_default_color: '{{ stats.proposicoes_temas_plot.default_color }}',
            proposicoes_temas_table_dimension_colors: {{ stats.proposicoes_temas_plot.dimension_colors | safe }},

            // Enquetes temas table
            loading_enquetes_temas_table: false,
            enquetes_temas_table_contents: [],
            enquetes_temas_table_api_params: '',
            enquetes_temas_table_headers: [
                { text: 'Proposição', align: 'start', sortable: false, value: 'nome_processado', },
                { text: 'Votos', value: 'poll_votes' },
                { text: 'Comentários', value: 'poll_comments' },
            ],
            enquetes_temas_table_default_color: '{{ stats.enquetes_temas_plot.default_color }}',
            enquetes_temas_table_dimension_colors: {{ stats.enquetes_temas_plot.dimension_colors | safe }},

            // Noticias temas table
            loading_noticias_temas_table: false,
            noticias_temas_table_contents: [],
            noticias_temas_table_api_params: '',
            noticias_temas_table_headers: [
                { text: 'Notícia', align: 'start', sortable: false, value: 'titulo', },
                { text: 'Acessos', value: 'pageviews' },
            ],
            noticias_temas_table_default_color: '{{ stats.noticias_temas_plot.default_color }}',
            noticias_temas_table_dimension_colors: {{ stats.noticias_temas_plot.dimension_colors | safe }},

        },
        watch: {
            proposicoes_temas_table_api_params: function (val) {
                app.loading_proposicoes_temas_table = true;
                app.proposicoes_temas_table_contents = [];

                fetch('{% url "api_top_proposicoes" %}' + val, {
                    method: 'GET'
                }).then((res) => res.json())
                    .then((data) => {
                        app.proposicoes_temas_table_contents = data;
                        app.loading_proposicoes_temas_table = false;
                    })
                    .catch((err) => console.error(err));
            },

            enquetes_temas_table_api_params: function (val) {
                app.loading_enquetes_temas_table = true;
                app.enquetes_temas_table_contents = [];

                fetch('{% url "api_top_proposicoes" %}' + val, {
                    method: 'GET'
                }).then((res) => res.json())
                    .then((data) => {
                        app.enquetes_temas_table_contents = data;
                        app.loading_enquetes_temas_table = false;
                    })
                    .catch((err) => console.error(err));
            },
            noticias_temas_table_api_params: function (val) {
                app.loading_noticias_temas_table = true;
                app.noticias_temas_table_contents = [];

                fetch('{% url "api_top_noticias" %}' + val, {
                    method: 'GET'
                }).then((res) => res.json())
                    .then((data) => {
                        app.noticias_temas_table_contents = data;
                        app.loading_noticias_temas_table = false;
                    })
                    .catch((err) => console.error(err));
            }
        },
        methods: {
            proposicoes_temas_dimension_color(dimension) {
                if (dimension in app.proposicoes_temas_table_dimension_colors) {
                    return app.proposicoes_temas_table_dimension_colors[dimension];
                } else {
                    return app.proposicoes_temas_table_default_color;
                }
            },
            enquetes_temas_dimension_color(dimension) {
                if (dimension in app.enquetes_temas_table_dimension_colors) {
                    return app.enquetes_temas_table_dimension_colors[dimension];
                } else {
                    return app.enquetes_temas_table_default_color;
                }
            },
            noticias_temas_dimension_color(dimension) {
                if (dimension in app.noticias_temas_table_dimension_colors) {
                    return app.noticias_temas_table_dimension_colors[dimension];
                } else {
                    return app.noticias_temas_table_default_color;
                }
            },

        }
    });

    {% if stats %}
        Plotly.setPlotConfig({"displayModeBar": false, "responsive": true});

        var enquetes_temas_plot = {{ stats.enquetes_temas_plot.json | safe}};
        Plotly.plot('enquetes_temas_plot', enquetes_temas_plot, {});

        var proposicoes_temas_plot = {{ stats.proposicoes_temas_plot.json | safe}};
        Plotly.plot('proposicoes_temas_plot', proposicoes_temas_plot, {});

        var noticias_temas_plot = {{ stats.noticias_temas_plot.json | safe}};
        Plotly.plot('noticias_temas_plot', noticias_temas_plot, {});

        var ficha_enquete_summary_plot = {{ stats.ficha_enquete_summary_plot | safe}};
        Plotly.plot('ficha_enquete_summary_plot', ficha_enquete_summary_plot, {});

        var noticia_summary_plot = {{ stats.noticia_summary_plot | safe}};
        Plotly.plot('noticia_summary_plot', noticia_summary_plot, {});

        var prisma_sexo_plot = {{ stats.prisma_sexo_plot | safe}};
        Plotly.plot('prisma_sexo_plot', prisma_sexo_plot, {});

    {% endif %}

</script>
{% endblock javascripts %}
