.btn-default, .btn-primary {
    color: #fff !important;
}

[v-cloak] > * { display:none; }
[v-cloak]::before { 
  content: " ";
  display: block;
}

body {
  background-color: #fff !important;
}

.footer {
  background-color: #fff !important;
}

p {
  font-weight: 400 !important;
}

a[href*="//"]:not([href*="midias.camara.leg.br"]):after { 
  font-family: FontAwesome;
  content: "\f08e";
  padding-left: 7px;
}
a.linked-img:after {
display: none;
}

.tag {
  color: #ffffff !important;
  margin: .1rem;
  font-size: .7rem;
  background-color: #bab0ac;
  border-radius: .25rem;
  vertical-align: middle;
  text-align: center;
  padding: .125rem .75rem;
  display: inline-block;
  line-height: 1.5;
  font-weight: 600;
}