.btn-default, .btn-primary {
    color: #fff !important;
}

[v-cloak] > * { display:none; }
[v-cloak]::before { 
  content: " ";
  display: block;
}

body {
  background-color: #fff !important;
}

.footer {
  background-color: #fff !important;
}

p {
  font-weight: 400 !important;
}