{% extends 'layouts/base.html' %}

{% block title %}Relatórios da participação{% endblock title %}

{% block sidenav %}
{% endblock sidenav %}

{% block content %}
<div class="header pt-lg-9">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-8">
                    <h1 class="display-1">Relatórios de participação</h1>
                    <p class="text-lead">Saiba mais sobre a participação cidadã na Câmara!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="btn-wrapper text-center">
            <a href="{% url 'relatorio_ano' year=2020 %}" class="btn btn-neutral">
                <h3 class="display-3">2020</h2>
            </a>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}