{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}Busca por proposição{% endblock title %}

{% block content %}
<div class="header pt-4">
    <div class="container-fluid">
        <div class="col">
            <h1>Busca por proposição</h1>
        </div>
    </div>
</div>



<div class="container-fluid">

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0 fade-in-top">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <form method="POST" action=".">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="sigla_tipo">Sigla</label>
                                    <select class="form-control" name="sigla_tipo">
                                        {% for sigla_tipo in sigla_tipos %}
                                            <option value="{{ sigla_tipo }}">{{ sigla_tipo }}</option>
                                        {% endfor %}
                                      </select>
                                </div>
                                <div class="form-group">
                                    <label for="numero">Número</label>
                                    <input type="text" class="form-control" name="numero">
                                </div>
                                <div class="form-group">
                                    <label for="ano">Ano</label>
                                    <input type="text" class="form-control" name="ano">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-default" type="submit">Acessar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}