{% extends 'layouts/base.html' %}
{% load humanize %}

{% block content %}
<div class="header pt-4">
    <div class="container-fluid">
        <div class="col">
            <h1>{% block title %}{% endblock title %}</h1><br />
        </div>
    </div>
</div>

<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h3>Selecione o período</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        {% for value, text in year_choices %}
                            <a href="{% url view_name value %}" class="btn {% if value == year %}btn-default{% else %}btn-secondary{% endif %}">{{ text }}</a>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>

        {% if stats.graph %}
            <div class="row">
                <div class="col-7">
                    <div class="card">
                        <div class="card-body ">
                            {% if total == 0 %}
                                Sem dados para o período.
                            {% else %}
                                {% autoescape off %}
                                <div id="graph_div" style="height: 700px;" v-pre></div>
                                {% endautoescape %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{% block sidebar_title %}{% endblock %} <div v-if="sidebar_contents.period_humanized"><span class="text-sm">em <mark>[[ sidebar_contents.period_humanized ]]</mark></span></div></h2>
                            <select name="sidebar_api_params" v-model="sidebar_api_params" class="form-control">
                                <option value="" disabled>Clique para selecionar um período</option>
                                {% for value, text in sidebar_api_params %}
                                    <option value="{{ value }}">{{ text }}</option>
                                {% endfor %}
                            </select>
                            <div v-if="loading_sidebar_contents" class="text-center">
                                <v-progress-circular
                                indeterminate
                                color="primary">
                            </div>

                            <div v-if="sidebar_contents.rows">
                                <template>
                                    {% block sidebar_datatable %}{% endblock %}
                                </template>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% include "includes/footer.html" %}

    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            loading_sidebar_contents: false,
            sidebar_contents: [],
            sidebar_api_params: '',
            sidebar_headers: [
                {% block sidebar_headers %}{% endblock %}
            ],
            sidebar_default_color: '{{ stats.graph.default_color }}',
            sidebar_dimension_colors: {{ stats.graph.dimension_colors | safe }},
        },
        watch: {
            sidebar_api_params: function (val) {
                app.loading_sidebar_contents = true;
                app.sidebar_contents = [];

                fetch('{% block sidebar_api_url %}{% endblock %}' + val, {
                    method: 'GET'
                }).then((res) => res.json())
                    .then((data) => {
                        app.sidebar_contents = data;
                        app.loading_sidebar_contents = false;
                    })
                    .catch((err) => console.error(err));
            }
        },
        methods: {
            dimension_color(dimension) {
                if (dimension in app.sidebar_dimension_colors) {
                    return app.sidebar_dimension_colors[dimension];
                } else {
                    return app.sidebar_default_color;
                }
            }
        },

    });

    {% if stats.graph %}
        Plotly.setPlotConfig({"displayModeBar": false, "responsive": true});

        var graph = {{ stats.graph.json | safe}};
        Plotly.plot('graph_div', graph, {});
    {% endif %}

</script>
{% endblock javascripts %}