{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}Página inicial{% endblock title %}

{% block content %}


<div class="header pb-8 pt-5 bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="col-12">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt--7 bg-secondary">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h2>Linha do tempo</h2>

                            <div class="nav-wrapper">
                                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0
                                        {% if group_by == 'day' %}active{% endif %}
                                        " href="{% url 'index' %}?group_by=day">Por dia</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0
                                        {% if group_by == 'month' %}active{% endif %}
                                        " href="{% url 'index' %}?group_by=month">Por mês</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mb-sm-3 mb-md-0
                                        {% if group_by == 'year' %}active{% endif %}
                                        " href="{% url 'index' %}?group_by=year">Por ano</a>
                                    </li>
                                </ul>
                            </div>                    
                                    
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    {% autoescape off %}
                    {{ summary_plot }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="app">
    <div class="container-fluid bg-secondary">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Proposições em destaque</h2>
                        <div v-if="!api_params">
                            <p>Selecione uma data</p>
                        </div>
                        <div v-else>
                            <div v-if="loading_proposicoes" class="text-center">
                                <v-progress-circular
                                indeterminate
                                color="primary"
                              >
                            </div>
                            <div v-else>
                                <template>
                                    <v-data-table :headers="proposicoes_headers" :items="top_proposicoes.top_proposicoes" :items-per-page="10">
                                        <template #item.nome_processado="{ item }">
                                            <a :href="item.link">
                                              [[ item.nome_processado ]]
                                            </a>
                                        </template>
                                        <template v-slot:footer>
                                            <div v-if="top_proposicoes.date">
                                                Dados para [[ top_proposicoes.date ]]
                                            </div>
                                            <div v-else>
                                                Dados para [[ top_proposicoes.date__gte ]] - [[ top_proposicoes.date__lte ]]
                                            </div>
                                        </template>
                                    
                                    </v-data-table>
                                </template>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Notícias em destaque</h2>
                        <div v-if="!api_params">
                            <p>Selecione uma data</p>
                        </div>
                        <div v-else>
                            <div v-if="loading_proposicoes" class="text-center">
                                <v-progress-circular
                                indeterminate
                                color="primary">
                            </div>
                            <div v-else>
                                <template>
                                    <v-data-table :headers="noticias_headers" :items="top_noticias.top_noticias" :items-per-page="10">
                                        <template #item.titulo="{ item }">
                                            <a :href="item.link">
                                            [[ item.titulo ]]
                                            </a>
                                        </template>
                                        <template v-slot:footer>
                                            <div v-if="top_proposicoes.date">
                                                Dados para [[ top_proposicoes.date ]]
                                            </div>
                                            <div v-else>
                                                Dados para [[ top_proposicoes.date__gte ]] - [[ top_proposicoes.date__lte ]]
                                            </div>
                                        </template>
                                    </v-data-table>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Última atualização dos dados: {{ last_updated }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            loading_noticias: false,
            loading_proposicoes: false,
            api_params: '',
            top_noticias: [],
            top_proposicoes: [],
            noticias_headers: [
                { text: 'Título', align: 'start', sortable: false, value: 'titulo', },
                { text: 'Visualizações', value: 'pageviews' },
                { text: 'Comentários', value: 'portal_comments' },
            ],
            proposicoes_headers: [
                { text: 'Proposição', align: 'start', sortable: false, value: 'nome_processado', },
                { text: 'Votos (enquete)', value: 'poll_votes' },
                { text: 'Comentários (enquete)', value: 'poll_comments' },
                { text: 'Visualizações (ficha)', value: 'ficha_pageviews' },
                { text: 'Visualizações (notícias)', value: 'noticia_pageviews' },
                { text: 'Score', value: 'score' },
            ],
        },
        watch: {
            api_params: function (val) {
                app.loading_proposicoes = true;
                app.loading_noticias = true;

                fetch('{% url "api_top_noticias" %}?' + val, {
                    method: 'GET'
                }).then((res) => res.json())
                    .then((data) => app.top_noticias = data)
                    .then(() => app.loading_noticias = false)
                    .catch((err) => console.error(err));

                fetch('{% url "api_top_proposicoes" %}?' + val, {
                    method: 'GET'
                }).then((res) => res.json())
                    .then((data) => app.top_proposicoes = data)
                    .then(() => app.loading_proposicoes = false)
                    .catch((err) => console.error(err))
            }
        },
        methods: {
        }
    });
</script>
{% endblock javascripts %}