{% extends 'layouts/base.html' %}
{% load humanize %}


{% block title %} Dashboard da participação {% endblock title %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="header pb-8 pt-5 bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="col-12">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt--7 bg-secondary">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h2>Linha do tempo</h2>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    {% autoescape off %}
                    {{ daily_summary_global_plot }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="app">
    <div v-if="!date">
        <div class="container-fluid bg-secondary">
            <div class="row">
                Selecione uma data
            </div>
        </div>
    </div>
    <div v-else class="container-fluid bg-secondary">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Proposições em destaque em [[ date ]]</h2>
                            <template>
                                <v-data-table :headers="proposicoes_headers" :items="top_proposicoes" :items-per-page="5" :must-sort="true"
                                    class="elevation-1">
                                    <template #item.nome_processado="{ item }">
                                        <a :href="item.link">
                                          [[ item.nome_processado ]]
                                        </a>
                                    </template>
                            
                                </v-data-table>

                            </template>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Notícias em destaque em [[ date ]]</h2>
                        <template>
                            <v-data-table :headers="noticias_headers" :items="top_noticias" :items-per-page="5"
                                class="elevation-1">
                                <template #item.titulo="{ item }">
                                    <a :href="item.link">
                                      [[ item.titulo ]]
                                    </a>
                                </template>
                            </v-data-table>
                        </template>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            date: '',
            top_noticias: [],
            top_proposicoes: [],
            noticias_headers: [
                { text: 'Título', align: 'start', sortable: false, value: 'titulo', },
                { text: 'Visualizações', value: 'pageviews' },
            ],
            proposicoes_headers: [
                { text: 'Proposição', align: 'start', sortable: false, value: 'nome_processado', },
                { text: 'Votos (enquete)', value: 'poll_votes' },
                { text: 'Comentários (enquete)', value: 'poll_comments' },
                { text: 'Visualizações (ficha)', value: 'ficha_pageviews' },
                { text: 'Visualizações (notícias)', value: 'noticia_pageviews' },
            ],
        },
        watch: {
            date: function (val) {
                fetch('{% url "api_top_noticias" %}?date=' + val, {
                    method: 'GET'
                }).then((res) => res.json())
                    .then((data) => app.top_noticias = data['top_noticias'])
                    .catch((err) => console.error(err));

                fetch('{% url "api_top_proposicoes" %}?date=' + val, {
                    method: 'GET'
                }).then((res) => res.json())
                    .then((data) => app.top_proposicoes = data['top_proposicoes'])
                    .catch((err) => console.error(err))
            }
        },
        methods: {
        }
    });
</script>
{% endblock javascripts %}