{% extends 'layouts/base.html' %}
{% load humanize %}


{% block title %} Dashboard da participação {% endblock title %}


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="header pb-8 pt-5 bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="col-12">
                <h2 class="h2 text-white d-inline-block mb-0"></h2>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt--7 bg-secondary">

    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <!-- Global daily growth plot -->
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1"></h6>
                            <h2 class="mb-0">Linha do tempo</h2>
                        </div>
                    </div>
                </div>

                <div class="card-body plotly">
                    <div class="chart">
                        {% autoescape off %}
                        {{ daily_summary_global_plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    $('.nav-item a').removeClass('active');
    $('.home-item a').addClass('active');
</script>
{% endblock javascripts %}