{% extends 'layouts/base.html' %}
{% load humanize %}


{% block title %} Dashboard da participação {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
.datatable-container {
    padding: 1.25rem 1.5rem;
}
{% endblock stylesheets %}

{% block content %}

<div class="header pb-8 pt-5 pt-md-6 bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="col-lg-6 col-7">
                <h6 class="h2 text-white d-inline-block mb-0">Proposição</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Proposição</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ proposicao.nome }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7 bg-secondary">

    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h4>{{ proposicao.nome }}</h4>
                </div>

                <div class="card-body">
                    Autor:
                    {% for autor in proposicao.autor.all %}
                    {{ autor }}),
                    {% endfor %}

                    Relator:
                    {% if proposicao.ultimo_status_relator %}
                    {{ proposicao.ultimo_status_relator.nome }}
                    ({{ proposicao.ultimo_status_relator.partido}}/{{ proposicao.ultimo_status_relator.uf }})
                    {% endif %}
                    Tema:
                    {% for tema in proposicao.tema.all %}
                    {{ tema.nome }},
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Comentários da enquete</h3>
                </div>
                <!-- Light table -->
                <div class="datatable-container">
                    <table class="align-items-center table-flush" id="posicionamentos_table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" width="150px">Posicionamento</th>
                                <th scope="col" width="700px">Conteúdo</th>
                                <th scope="col" width="100px">Data</th>
                                <th scope="col" width="150px">Moderado?</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for posicionamento in proposicao.enquete_posicionamentos %}
                            <tr>
                                <td>
                                    {% if posicionamento.ind_positivo == 1 %}
                                        Favorável
                                    {% elif posicionamento.ind_positivo == 0 %}
                                        Contrário
                                    {% endif %}
                                </td>
                                <td class="overflow: hidden;">
                                    {{ posicionamento.des_conteudo }}
                                </td>
                                <td data-sort="{{ posicionamento.dat_posicionamento.timestamp }}">
                                    {{ posicionamento.dat_posicionamento|date:"SHORT_DATE_FORMAT" }}
                                </td>
                                <td>
                                    {% if posicionamento.cod_autorizado == 0 %}
                                        Não moderado
                                    {% elif posicionamento.cod_autorizado == 1 %}
                                        Autorizado
                                    {% elif posicionamento.cod_autorizado == 2 %}
                                        Não autorizado
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">
                                    Vazio
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    $('.nav-item a').removeClass('active');
    $('.home-item a').addClass('active');
    $(document).ready( function () {
        $('#posicionamentos_table').DataTable({
            columns: [
                { name: 'posicionamento' },
                { name: 'conteudo' },
                { name: 'data' },
                { name: 'moderado' },
            ],
            searchPane: {
                columns: ['posicionamento:name', 'moderado:name']
            }
        });
    } );
</script>
{% endblock javascripts %}