{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}{{ proposicao.nome_processado }}{% endblock title %}

{% block content %}

<div class="header pt-4">
    <div class="container-fluid">
        <div class="col">
            <h1>{{ proposicao.nome_processado }} </h1>
            <a href="https://www.camara.leg.br/propostas-legislativas/{{ proposicao.pk }}" class="btn btn-sm">
                <i class="fas fa-external-link-alt"></i> Acessar no portal da Câmara
            </a>
            <a href="{% url 'proposicao_comentarios_enquete' id_proposicao=proposicao.pk %}" class="btn btn-sm">
                Ver comentários da enquete
            </a>
        </div>
    </div>
</div>

<div id="app">

    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Ementa</th>
                                    <td class="text-wrap">
                                        {{ proposicao.ementa }}<br />
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Autor</th>
                                    <td>
                                        {% for autor in proposicao.autor.all %}
                                            {{ autor.nome_processado }}<br />
                                        {% empty %}
                                            Acesse a <a href="https://www.camara.leg.br/propostas-legislativas/{{ proposicao.pk }}">ficha de tramitação</a> para consultar a autoria<br />
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Relator</th>
                                    <td>
                                        {% if proposicao.ultimo_status_relator %}
                                            {{ proposicao.ultimo_status_relator.nome_processado }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Tema</th>
                                    <td>
                                        {% for tema in proposicao.tema.all %}
                                        {{ tema.nome }}<br />
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% with stats=proposicao.stats %}
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                {% include "pages/cards/kpi_votos_enquetes.html" %}
            </div>

            <div class="col-xl-3 col-lg-6">
                {% include "pages/cards/kpi_comentarios_enquetes.html" %}
            </div>

            <div class="col-xl-3 col-lg-6">
                {% include "pages/cards/kpi_ficha_pageviews.html" %}
            </div>

            <div class="col-xl-3 col-lg-6">
                {% include "pages/cards/kpi_noticia_pageviews.html" %}
            </div>

        </div>
        {% endwith %}
    
        <div class="row">
            <div class="col">
                <div class="card">
                    <plotly>
                        <div class="card-body">
                            <div id="summary_plot" v-pre></div>
                        </div>
                    </plotly>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body plotly">
                        <h2 class="card-title">Enquete</h2>
                        {% autoescape off %}
                        {{ poll_votes_plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                {% include "pages/cards/table_noticias.html" %}
            </div>
        </div>
    
        {% include "includes/footer.html" %}
    
    </div>
</div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    Vue.config.ignoredElements = [
        'plotly'
    ];
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            noticias: {{ stats.noticias|safe }},
            noticias_headers: [
                { text: 'Data', value: 'data' },
                { text: 'Título', value: 'titulo' },
                { text: 'Acessos', value: 'pageviews' },
                { text: 'Comentários (não moderados)', value: 'comments_unchecked' },
                { text: 'Comentários (não autorizados) ', value: 'comments_unauthorized' },
                { text: 'Comentários (autorizados)', value: 'comments_authorized' },
            ],
        },
    });

    
    Plotly.setPlotConfig({"displayModeBar": false, "responsive": true});

    var summary_plot = {{ summary_plot | safe}};
    Plotly.plot('summary_plot', summary_plot, {});
</script>
{% endblock javascripts %}