{% extends 'layouts/base.html' %}
{% load humanize %}


{% block title %} Dashboard da participação {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
.datatable-container {
padding: 1.25rem 1.5rem;
}
{% endblock stylesheets %}

{% block content %}

<div class="header pb-8 pt-5 bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="col-6">
                <h2 class="h2 text-white d-inline-block mb-0">{{ proposicao.nome_processado }}</h2>
            </div>
            <div class="col-6">
                <a href="https://www.camara.leg.br/propostas-legislativas/{{ proposicao.pk }}" class="btn btn-sm btn-neutral">
                    <i class="fas fa-external-link-alt"></i> Acessar no portal da Câmara
                </a>
                <a href="{% url 'proposicao_comentarios_enquete' id_proposicao=proposicao.pk %}" class="btn btn-sm btn-neutral">
                    Ver comentários da enquete
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7 bg-secondary">

    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Ementa</th>
                                <td class="text-wrap">
                                    {{ proposicao.ementa }}<br />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Autor</th>
                                <td>
                                    {% for autor in proposicao.autor.all %}
                                    {{ autor.nome_processado }}<br />
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Relator</th>
                                <td>
                                    {% if proposicao.ultimo_status_relator %}
                                        {{ proposicao.ultimo_status_relator.nome_processado }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Tema</th>
                                <td>
                                    {% for tema in proposicao.tema.all %}
                                    {{ tema.nome }}<br />
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-body">
                    <h3>Notícias sobre esta proposição</h3>
                    <table class="table">
                        <tbody>
                            {% for noticia in proposicao.noticia_set.all %}
                                <tr>
                                    <td>
                                        {{ noticia.tipo_conteudo }}
                                    </td>
                                    <td>
                                        {{ noticia.data }}
                                    </td>
                                    <td>
                                        <a href="{{ noticia.link }}">{{ noticia.titulo }}</a>
                                    </td>
                                    <td>
                                        {{ noticia.pageviews }}
                                    </td>
                                </tr>
                            {% empty %}
                            <tr>
                                <td>
                                    Não há notícias associadas a esta proposição.
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% with stats=proposicao.stats %}
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <div class="card shadow card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Acessos à ficha</h5>
                            <span
                                class="h2 font-weight-bold mb-0">{{ stats.ficha_pageviews_total | intcomma }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="fa fa-chart-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card shadow card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Acessos às notícias</h5>
                            <span
                                class="h2 font-weight-bold mb-0">{{ stats.noticia_pageviews_total | intcomma }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                <i class="fa fa-chart-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card shadow card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Votos</h5>
                            <span class="h2 font-weight-bold mb-0">{{ stats.poll_votes_total | intcomma }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card shadow card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">Posicionamentos</h5>
                            <span
                                class="h2 font-weight-bold mb-0">{{ stats.poll_comments_total | intcomma }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}

    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <h3 class="mb-0">Timeline da proposição</h3>
                </div>
                <div class="card-body plotly">
                    {% autoescape off %}
                    {{ daily_summary_proposicao_plot }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Heatmap de atividade</h3>
                </div>
                <div class="card-body">
                    <button class="btn btn-primary" id="example-g-PreviousDomain-selector">Anterior</button>
                    <button class="btn btn-primary" id="example-g-NextDomain-selector">Próximo</button>
                    <div id="example-g"></div>
                </div>
            </div>
        </div>
    </div> -->


    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    $('.nav-item a').removeClass('active');
    $('.home-item a').addClass('active');
    $(document).ready(function () {
        $('#posicionamentos_table').DataTable({
            columns: [
                { name: 'posicionamento' },
                { name: 'conteudo' },
                { name: 'data' },
                { name: 'moderado' },
                { name: 'curtidas' },
                { name: 'descurtidas' },
            ],
            searchPane: {
                columns: ['posicionamento:name', 'moderado:name']
            }
        });
    });

</script>
{% endblock javascripts %}