{% extends 'layouts/base.html' %}
{% load humanize %}


{% block title %} Dashboard da participação {% endblock title %}


{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="header pb-8 pt-5 pt-md-6 bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="col-lg-6 col-7">
                <h2 class="h2 text-white d-inline-block mb-0">Raio-X</h2><br />
                <h3 class="h3 text-white d-inline-block mb-0">
                    {% if dimension == "proposicao" %}
                        Por proposição
                    {% elif dimension == "tema" %}
                        Por tema
                    {% elif dimension == "autor" %}
                        Por autor
                    {% elif dimension == "relator" %}
                        Por relator
                    {% endif %}
                </h3>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt--7 bg-secondary">

    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                <div class="card-body ">
                    <form method="GET" action=".">
                        <h6 class="heading-small text-muted mb-4">parâmetros de busca</h6>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="metric_field">Dimensão</label>
                                    <select class="form-control" name="metric_field">
                                        {% for value, text in metric_field_choices %}
                                            <option value="{{ value }}" {% if metric_field == value %}selected{% endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="month_year">Período</label>
                                    <select class="form-control" name="month_year">
                                        {% for value, text in month_year_choices %}
                                            <option value="{{ value }}" {% if month_year == value %}selected{% endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="plot_type">Visualização</label>
                                    <select class="form-control" name="plot_type">
                                        {% for value, text in plot_type_choices %}
                                            <option value="{{ value }}" {% if plot_type == value %}selected{% endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Atualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {% if raiox_plot %}
        <div class="row mt-5">
            <div class="col-xl-12">
                <div class="card shadow">
                    <div class="card-body">
                        {% autoescape off %}
                        {{ raiox_plot }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    $('.nav-item a').removeClass('active');
    $('.home-item a').addClass('active');
</script>
{% endblock javascripts %}