{% extends 'layouts/base.html' %}
{% load humanize %}


{% block title %} Dashboard da participação {% endblock title %}


{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="header pb-8 pt-5 pt-md-6 bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="col-lg-6 col-7">
                <h2 class="h2 text-white d-inline-block mb-0">Raio-X</h2><br />
                <h3 class="h3 text-white d-inline-block mb-0">
                    {% if dimension == "proposicao" %}
                        Por proposição
                    {% elif dimension == "tema" %}
                        Por tema
                    {% elif dimension == "indexacao" %}
                        Por indexação
                    {% elif dimension == "autor" %}
                        Por autor
                    {% elif dimension == "relator" %}
                        Por relator
                    {% elif dimension == "situacao" %}
                        Por situação
                    {% endif %}
                </h3>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt--7 bg-secondary">

    <div class="row" id="app">
        <div class="col-xl-12">
            <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                <div class="card-body ">
                    <form method="GET" action=".">
                        <h6 class="heading-small text-muted mb-4">parâmetros de busca</h6>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="dimension">Dimensão</label>
                                    <select class="form-control" name="dimension" v-model="dimension">
                                        {% for value, text in dimension_choices %}
                                            <option value="{{ value }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="metric_field">Métrica</label>
                                    <select class="form-control" name="metric_field">
                                        {% for value, text in metric_field_choices %}
                                            <option value="{{ value }}" {% if metric_field == value %}selected{% endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="month_year">Período</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="month" name="period_type" value="month" class="custom-control-input" v-model="period_type">
                                        <label for="month" class="custom-control-label">Mensal</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="year" name="period_type" value="year" class="custom-control-input" v-model="period_type">
                                        <label for="year" class="custom-control-label">Anual</label>    
                                    </div>
                                    <select class="form-control" name="month_year" v-show="period_type == 'month'">
                                        {% for value, text in month_year_choices %}
                                            <option value="{{ value }}" {% if month_year == value %}selected{% endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="form-control" name="year" v-show="period_type == 'year'">
                                        {% for value, text in year_choices %}
                                            <option value="{{ value }}" {% if year == value %}selected{% endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Atualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {% if plot_div %}
        <div class="row mt-5">
            <div class="col-xl-12">
                <div class="card shadow">
                    <div class="card-body">
                        {% if total == 0 %}
                            Sem dados para o período.
                        {% else %}
                            {% autoescape off %}
                            {{ plot_div }}
                            {% endautoescape %}
                            {% if period_type == 'month' %}
                                Total: {{ total|intcomma }} ({{ percent_plot|floatformat:2 }}% considerados para a geração do gráfico)
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            period_type: '{{ period_type|escapejs }}',
            dimension: '{{ dimension|escapejs }}',
        }
    });
</script>
{% endblock javascripts %}