{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}Relatório consolidado{% endblock title %}

{% block content %}
<div class="header pb-8 pt-5 pt-md-6 bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="col-lg-6 col-7">
                <h2 class="h2 text-white d-inline-block mb-0">Relatório consolidado</h2><br />
            </div>
        </div>
    </div>
</div>

<div id="app">
<div class="container-fluid mt--7 bg-secondary">

    <div class="row" id="app">
        <div class="col-xl-12">
            <div class="card shadow card-stats mb-4 mb-xl-0 fade-in-top">
                <div class="card-body ">
                    <form method="GET" action=".">
                        <h6 class="heading-small text-muted mb-4">parâmetros de busca</h6>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="month_year">Período</label>
                                    <select class="form-control" name="year">
                                        {% for value, text in year_choices %}
                                            <option value="{{ value }}" {% if year == value %}selected{% endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Atualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if stats %}
    <div class="row">

        <div class="col-xl-3 col-lg-6">
            <div class="card shadow card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title text-muted mb-0">Votos nas enquetes</h5>
                            <span class="h2 font-weight-bold mb-0">{{ stats.poll_votes | intcomma }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card shadow card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title text-muted mb-0">Comentários nas enquetes</h5>
                            <span class="h2 font-weight-bold mb-0">{{ stats.poll_comments|intcomma }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Comentários aprovados</th>
                                    <td class="text-wrap text-success">
                                        <b>{{ stats.poll_comments_authorized|intcomma }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Comentários reprovados</th>
                                    <td class="text-wrap text-danger">
                                        <b>{{ stats.poll_comments_unauthorized|intcomma }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Comentários na fila de moderação</th>
                                    <td class="text-wrap text-info">
                                        <b>{{ stats.poll_comments_unchecked|intcomma }}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card shadow card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title text-muted mb-0">Comentários no portal</h5>
                            <span class="h2 font-weight-bold mb-0">{{ stats.portal_comments|intcomma }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="fas fa-newspaper"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Comentários aprovados</th>
                                    <td class="text-wrap text-success">
                                        <b>{{ stats.portal_comments_authorized|intcomma }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Comentários reprovados</th>
                                    <td class="text-wrap text-danger">
                                        <b>{{ stats.portal_comments_unauthorized|intcomma }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Comentários na fila de moderação</th>
                                    <td class="text-wrap text-info">
                                        <b>{{ stats.portal_comments_unchecked|intcomma }}</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card shadow card-stats">
                <div class="card-body ">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title text-muted mb-0">Demandas no Prisma</h5>
                            <span class="h2 font-weight-bold mb-0">{{ stats.prisma_tickets|intcomma }}</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="fas fa-newspaper"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <table class="table">
                            <tbody>
                                {% for row in stats.prisma_channels %}
                                    <tr>
                                        <th scope="row">{{ row.demanda_forma_de_recebimento }}</th>
                                        <td class="text-wrap">
                                            <b>{{ row.iddemanda__count|intcomma }}</b>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Enquetes mais votadas</h2>
                    <template>
                        <v-data-table :headers="top_polls_headers" :items="top_polls" :items-per-page="10">
                            <template #item.proposicao_nome_processado="{ item }">
                                <a :href="item.link">
                                    [[ item.proposicao_nome_processado ]]
                                </a>
                            </template>
                        </v-data-table>
                    </template>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Matérias mais comentadas</h2>
                    <template>
                        <v-data-table :headers="top_noticias_headers" :items="top_noticias" :items-per-page="10">
                            <template #item.proposicao_nome_processado="{ item }">
                                <a :href="item.link">
                                    [[ item.proposicao_nome_processado ]]
                                </a>
                            </template>
                        </v-data-table>
                    </template>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    {% include "includes/footer.html" %}

</div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            top_polls: {{ stats.top_polls|safe }},
            top_polls_headers: [
                { text: 'Proposição', align: 'start', sortable: false, value: 'proposicao_nome_processado', },
                { text: 'Votos', value: 'poll_votes_count' },
                { text: 'Comentários', value: 'poll_comments_count' },
            ],
            top_news: {{ stats.top_news|safe }},
            top_news_headers: [
                { text: 'Notícia', align: 'start', sortable: false, value: 'title', },
                { text: 'Comentários', value: 'comments' },
            ],
        },
    });
</script>
{% endblock javascripts %}