{% extends 'layouts/base.html' %}
{% load humanize %}

{% block title %}Relatório consolidado{% endblock title %}

{% block content %}
<div class="header pt-4 bg-primary">
    <div class="container-fluid">
        <div class="col">
            <h2 class="h2 text-white">Relatório consolidado</h2><br />
        </div>
    </div>
</div>

<div id="app">
    <div class="container-fluid pt-4 bg-secondary">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h3>Parâmetros de busca</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form method="GET" action=".">
                            <div class="row">
                                <div class="col">
                                    <label for="month_year">Período</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="month" name="period_type" value="month"
                                            class="custom-control-input" v-model="period_type">
                                        <label for="month" class="custom-control-label">Mensal</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="year" name="period_type" value="year"
                                            class="custom-control-input" v-model="period_type">
                                        <label for="year" class="custom-control-label">Anual</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <select class="form-control" name="month_year" v-show="period_type == 'month'">
                                        {% for value, text in month_year_choices %}
                                        <option value="{{ value }}" {% if month_year == value %}selected{% endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <select class="form-control" name="year" v-show="period_type == 'year'">
                                        {% for value, text in year_choices %}
                                        <option value="{{ value }}" {% if year == value %}selected{% endif %}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-primary font-white" type="submit">Atualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if stats %}
        <!-- dados gerais-->
        <div class="row">
            <div class="col">
                <h3>
                    Dados gerais
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-title text-muted mb-0">Votos nas enquetes</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ stats.poll_votes | intcomma }}</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                    <i class="fas fa-check-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-title text-muted mb-0">Comentários nas enquetes</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ stats.poll_comments|intcomma }}</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                    <i class="fas fa-pencil-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-title text-muted mb-0">Comentários no portal</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ stats.portal_comments|intcomma }}</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                    <i class="fas fa-newspaper"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h4 class="card-title text-muted mb-0">Demandas no Prisma</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ stats.prisma_tickets|intcomma }}</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                    <i class="fas fa-bullhorn"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- enquetes -->
        <div class="row">
            <div class="col">
                <h1>
                    Enquetes
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2>Aprovação dos comentários</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <template>
                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th>Classificação</th>
                                            <th>Número</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Comentários aprovados</th>
                                            <td>
                                                {{ stats.poll_comments_authorized|intcomma }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Comentários reprovados</th>
                                            <td>
                                                {{ stats.poll_comments_unauthorized|intcomma }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Comentários na fila de moderação</th>
                                            <td>
                                                {{ stats.poll_comments_unchecked|intcomma }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-data-table>
                        </template>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2>Enquetes mais votadas</h2>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <template>
                            <v-data-table :headers="top_polls_headers" :items="top_polls" :items-per-page="10">
                                <template #item.proposicao_nome_processado="{ item }">
                                    <a :href="item.link">
                                        [[ item.proposicao_nome_processado ]]
                                    </a>
                                </template>
                            </v-data-table>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- prisma -->
        <div class="row">
            <div class="col">
                <h1>
                    Prisma
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2>Canais</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <template>
                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th>Forma de recebimento</th>
                                            <th>Número</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for channel in stats.prisma_formas_de_recebimento %}
                                            <tr>
                                                <th>{{ channel.demanda_forma_de_recebimento }}</th>
                                                <td>
                                                    {{ channel.iddemanda__count|intcomma }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </template>
                            </v-data-table>
                        </template>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2>Tipos</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <template>
                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th>Tipo</th>
                                            <th>Número</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for channel in stats.prisma_tipos %}
                                            <tr>
                                                <th>{{ channel.demanda_tipo }}</th>
                                                <td>
                                                    {{ channel.iddemanda__count|intcomma }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </template>
                            </v-data-table>
                        </template>
                    </div>
                </div>
            </div>


            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2>Categorias</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <template>
                            <v-data-table :headers="top_prisma_categorias_headers" :items="top_prisma_categorias" :items-per-page="10">
                            </v-data-table>
                        </template>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2>Proposições</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card-body text-wrap">
                        <template>
                            <v-data-table :headers="top_prisma_proposicoes_headers" :items="top_prisma_proposicoes" :items-per-page="10">
                            </v-data-table>
                        </template>
                    </div>
                </div>
            </div>

        </div>

        <!-- noticias -->
        <div class="row">
            <div class="col">
                <h1>
                    Notícias
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2>Aprovação dos comentários</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <template>
                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th>Classificação</th>
                                            <th>Número</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Comentários aprovados</th>
                                            <td>
                                                {{ stats.portal_comments_authorized|intcomma }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Comentários reprovados</th>
                                            <td>
                                                {{ stats.portal_comments_unauthorized|intcomma }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Comentários na fila de moderação</th>
                                            <td>
                                                {{ stats.portal_comments_unchecked|intcomma }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-data-table>
                        </template>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h2>Matérias mais comentadas</h2>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                         <template>
                            <v-data-table :headers="top_news_headers" :items="top_news" :items-per-page="10">
                                <template #item.title="{ item }">
                                    <a :href="item.link">
                                        [[ item.title ]]
                                    </a>
                                </template>
                            </v-data-table>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

        {% include "includes/footer.html" %}

    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            period_type: '{{ period_type|escapejs }}',
            {% if stats %}
                top_polls: {{ stats.top_polls | safe }},
                top_news: {{ stats.top_news | safe }},
                top_prisma_categorias: {{ stats.top_prisma_categorias | safe}},
                top_prisma_proposicoes: {{ stats.top_prisma_proposicoes | safe}},
            {% endif %}
            top_polls_headers: [
                { text: 'Proposição', align: 'start', sortable: false, value: 'proposicao_nome_processado', },
                { text: 'Votos', value: 'poll_votes' },
                { text: 'Comentários', value: 'poll_comments' },
            ],
            top_news_headers: [
                { text: 'Notícia', align: 'start', sortable: false, value: 'title', },
                { text: 'Comentários', value: 'comments' },
            ],
            top_prisma_categorias_headers: [
                { text: 'Macrotema', value: 'prismacategoria__macrotema', },
                { text: 'Tema', value: 'prismacategoria__tema', },
                { text: 'Subtema', value: 'prismacategoria__subtema', },
                { text: 'Demandas', value: 'count', },
            ],
            top_prisma_proposicoes_headers: [
                { text: 'Proposição', value: 'prismacategoria__categoria_tema_proposição', },
                { text: 'Demandas', value: 'iddemanda__count', },
            ]

        },
    });
</script>
{% endblock javascripts %}